@font-face {
  font-family: "TTLakes";
  src: url("/fonts/TTLakes-Medium.woff");
}
html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 0 0 0;
  overflow-x: hidden;
  font-family: "TTLakes", serif;
  background: #F8F8F8;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 320px) {
  .header {
    width: 320px;
  }
}

.call {
  border: none;
}

.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
@media (min-width: 320px) {
  .header__inner {
    background-color: #FFFFFF;
  }
}
.header__inner p {
  display: none;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 1120px) {
  .header__inner {
    background-color: #F8F8F8;
  }
}

.header__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-left: 12px;
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 1120px) {
  .header__name {
    top: 25px;
    position: absolute;
    padding: 10px;
  }
}
@media (min-width: 320px) {
  .header__name {
    padding-top: 24px;
  }
}

.header__first_points, .header__second-points {
  display: flex;
  align-items: center;
}

@media (min-width: 1120px) {
  .header__first_points {
    display: none;
  }
}

.header__second-points {
  overflow: scroll;
  width: 120px;
  padding: 0 16px 0 0;
}
@media (min-width: 768px) {
  .header__second-points {
    overflow: auto;
    width: 100%;
    justify-content: flex-end;
  }
}

.header__first_points .header__divider {
  display: block;
  order: 1;
}

.header__elem1, .header__elem2, .header__elem3,
.header__elem4, .header__elem5, .header__elem7,
.header__elem8, .header__divider {
  margin: 0 8px 0 8px;
  cursor: pointer;
}
@media (min-width: 1120px) {
  .header__elem1, .header__elem2, .header__elem3,
.header__elem4, .header__elem5, .header__elem7,
.header__elem8, .header__divider {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__elem1 {
    order: 1;
  }
}

@media (min-width: 768px) {
  .header__elem2 {
    order: 2;
  }
}

@media (min-width: 768px) {
  .header__elem3 {
    display: block;
    margin-left: 16px;
  }
}
@media (min-width: 1120px) {
  .header__elem3 {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__elem4 {
    display: block;
    margin-left: 16px;
  }
}
@media (min-width: 1120px) {
  .header__elem4 {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__elem5 {
    display: block;
    margin-left: 16px;
  }
}
@media (min-width: 1120px) {
  .header__elem5 {
    display: none;
  }
}

@media (min-width: 1120px) {
  .header__elem7,
.header__elem8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
  }
}

@media (min-width: 1120px) {
  .header__inner p {
    display: block;
    letter-spacing: -0.2px;
    padding-right: 8px;
  }
}

.header__nleft {
  position: absolute;
  left: 0;
  z-index: 0;
}
@media (min-width: 1120px) {
  .header__nleft {
    position: absolute;
    left: 0;
  }
}

.micro-menu__container {
  display: flex;
  flex-flow: row nowrap;
  overflow: scroll;
  align-items: center;
  padding: 0 0 0 16px;
  width: 100%;
  margin: 32px 0 0 0;
}
@media (min-width: 1120px) {
  .micro-menu__container {
    width: 1120px;
    flex-flow: row wrap;
  }
}

.micro-menu__container * {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 40px;
  width: 220px;
  padding: 0;
}
@media (min-width: 1120px) {
  .micro-menu__container * {
    max-width: 1120px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline;
}

ul li:nth-child(1) {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #FFFFFF;
}

ul a {
  text-decoration: none;
  color: #7E7E82;
}

@media (min-width: 1120px) {
  .micro-menu__container li:last-child p {
    justify-content: flex-start;
    margin-left: 16px;
  }
}

body {
  font-family: "TTLakes", sans-serif;
  padding: 0;
  margin: 0;
}
@media (min-width: 1120px) {
  body {
    display: flex;
    min-width: 1440px;
  }
}
@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
}
@media (min-width: 1560px) {
  body {
    display: flex;
    justify-content: center;
  }
}

.content__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 16px 0 16px;
  font-size: 14px;
}
@media (min-width: 767px) {
  .content__container {
    min-width: 768px;
  }
}

@media (max-width: 767px) {
  .text__2 {
    display: none;
  }
}
@media (min-width: 768px) {
  .content__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 24px 0 24px;
  }
  .text-2 {
    display: hidden;
  }
  .content-img {
    max-width: 360px;
    max-height: 260px;
    margin-right: 25px;
    margin-left: 38px;
  }
  .content-img img {
    width: 100%;
  }
}
.content__btn-next {
  display: flex;
  align-items: center;
}
.content__btn-next a {
  padding-left: 16px;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  color: #1B1C21;
  font-weight: 500;
}

@media (min-width: 768px) {
  .content__text {
    flex-grow: 1;
    max-width: 312px;
    max-height: 160px;
  }
}
@media (min-width: 1120px) {
  .content__text {
    flex-grow: 0;
    max-width: 490px;
  }
}

.content__img {
  flex-basis: 50%;
  max-height: 230px;
}
@media (min-width: 1120px) {
  .content__img {
    max-height: 531px;
    margin-right: 28px;
    margin-left: 38px;
  }
}
@media (max-width: 600px) {
  .content__img {
    margin-top: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.content__img img {
  width: auto;
  height: 168px;
}
@media (min-width: 767px) {
  .content__img img {
    height: 210px;
    width: 360px;
    margin-top: 18px;
    margin-left: 38px;
    border-radius: 6px;
  }
}
@media (min-width: 1120px) {
  .content__img img {
    height: 300px;
    width: 531px;
    margin-top: 0;
    margin-left: 0;
    border-radius: 6px;
  }
}